{% extends "header.html"%}{% block title %}Home{%endblock %} {% block content %}

<section class="home-content">


    <div class="home-title">
        <h2>AI Driven Health Care</h2>
    </div>

    <div class="discription">

        <p>
            Get the early prediction of the disease before it occurs.
            <div class="span-tg"> Within a few Seconds! </div>
        </p>

        <!-- Horizontal line -->
        <div class="horizontal-line">

        </div>


    </div>


    <!-- Disease list -->
    <section class="disease-list">

        <ul>
            <li> <a href="/cancer">CANCER</a></li>
            <li> <a href="/kidney">KIDNEY</a></li>
            <li> <a href="/liver">LIVER</a></li>
            <li> <a href="/heart">HEART</a></li>
            <li> <a href="/diabetes">DIABETES</a></li>
        </ul>

    </section>


</section>


{% endblock %}